body{
    height: 100vh;
    background-color: #d9f0de;
    color: #00237d;
}

@font-face {
    font-family: American-typewriter;
    src: url(../American-typewriter.ttf);
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h2{
    font-family: 'American-typewriter', 'Courier New', Courier, monospace;
    text-transform: uppercase;
    color: #f7931e;
    font-size: 14px;
}

.logo{
    position: relative;
}

.logo .iso {
    position: absolute;
    right: -105px;
    top: 0;
}

.logo .iso .texto{
    position: relative;
}

.logo .iso .sanguchito{
    position: absolute;
    left: 20%;
    top: 20%;
    transform: translate(-50%,-50%);
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
    from {
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes rotating {
    from {
      -ms-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -ms-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  .rotating {
    -webkit-animation: rotating 15s linear infinite;
    -moz-animation: rotating 15s linear infinite;
    -ms-animation: rotating 15s linear infinite;
    -o-animation: rotating 15s linear infinite;
    animation: rotating 15s linear infinite;
  }

  /* All delay classes will take 2x longer to start */
:root {
    --animate-delay: 5s;
  }
  
  /* All delay classes will take half the time to start */
  :root {
    --animate-delay: 5s;
  }

  @media screen and (max-width:768px){
      main .logo{
          max-width: 250px;
      }
      main .iso .texto{
          max-width: 84px;
      }
      main .iso .sanguchito{
          max-width: 28px;
      }
      .logo .iso {
        position: absolute;
        right: -58px;
        top: 30px;
    }
  }